.navbar{
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.7) 10%,transparent);
    z-index: 1;
}
.navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navbar-left img{
    width: 90px;
}
.navbar-left ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar-left ul li{
    cursor: pointer;
}
.navbar-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar-right .icons{
    width: 20px;
    cursor: pointer;
}
.navbar-right .profile{
    border-radius: 4px;
    width: 30px;
}
.navbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}
.navbar .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}
.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;
}

.navbar-profile:hover .dropdown{
    display: inline;
}

.nav-dark{
    background: #141414;
}

@media (max-width: 800px) {
  .navbar {
    padding: 20px 4%;
  }

  .navbar-left ul {
    display: none;
  }

  .navbar img {
    height: 25px;
  }
}

@media (max-width: 500px) {
  .navbar img {
    height: 20px;
  }

  .navbar-right {
    gap: 10px;
  }
}
/* Remove link default style */
.navbar-left ul li a {
  text-decoration: none;
  color: white;
}

/* Optional hover effect (nice) */
.navbar-left ul li a:hover {
  color: #e50914;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container {
  position: absolute;
  top: 0%;        /* 👈 moves just below icon */
  right: 100%;
  width: 240px;

  background: rgba(20, 20, 20, 0.9);
  padding: 6px;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  gap: 6px;

  z-index: 10;
}

/* .search-container {
  position: absolute;
  right: 100%;
  width: 240px;

  background: rgba(20, 20, 20, 0.9);
  padding: 6px;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 10;
} */

.search-container input {
  width: 100%;
  padding: 6px;   /* 👈 reduced */
  font-size: 13px;
  border-radius: 4px;
   position: relative;
  z-index: 2;
   margin-bottom: 4px; 
}


.search-results {
  background: #141414;   /* ✅ solid bg so input visible */
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;

  position: relative;  /* ✅ important */
  z-index: 1;          /* lower than input */
}
/* item */
.search-item {
  padding: 8px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

/* hover */
.search-item:hover {
  background: #333;
}
@media (max-width: 768px) {
  .search-container {
    width: 200px;
    right: 42%;
  }
}

@media (max-width: 500px) {
  .search-container {
    width: 150px;
    right: 42%;
  }
}